.sideberLeft{
    background-color:lime;
    text-align: center;
    margin-top: 5px;

}
.adminBody{
    margin-top: 5px;
    background-color:red;
    text-decoration: none;
    text-size-adjust: 22px;
    
}

#text {
    text-size-adjust: 22px;
}

